{% extends 'base.html' %} {% load thumbnail %}
 {% block title %}Home Page{% endblock %} 
 {% block body%} 
 {% comment %}<a href="{% url 'feed:post' %}">Add a new post &rarr;</a> {% endcomment %} 
 
 <div class="row">
     {% for post in posts %}
 {% comment %}<a href="/detail/{{post.id}}/">View Details</a> {% endcomment %}
<div class="col-sm-6 col-md-4">
<div class="card" style="width: 18rem">
  {% thumbnail post.image "200x200" crop="center" as im %}
  <img src="{{ im.url }}" class="card-img-top" alt="..." />
  {% endthumbnail %}
  <div class="card-body">
    <h5 class="card-title">{{Image }}</h5>
    <p class="card-text">{{post.text}}</p>
    <a href="{%url 'feed:detail' post.id %}" class="btn btn-primary"
      >View Full Image</a
    >
  </div>
</div>
</div>
{% empty %}
<div class="col-sm-6 offset-3 text-center py-5 my-5">
    <h3>Welcome</h3>
    <p>Add your first image!</p>
    <a href="{% block 'feed:post' %}{% endblock %}" class="btn btn-success btn-lg">Upload Image</a>
</div>
{% endfor %}
</div>
{%endblock %} {% comment %} ccbv.co.uk {% endcomment %}
